span, div{
    padding: 10px;
    margin-bottom: 5px;
}

span{
    background-color: rgb(0, 255, 255);
    display: inline-block;
}

div{
    background-color: rgb(119, 0, 255);
    display: inline;
}

